@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(56, 56, 56);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-top: 3%;
}



h2{
    margin-bottom: 10px;
    padding-top: 3%;
}

.card{
    text-align: center;
    color: white;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.um{
    background-color: black;
    border-radius: 20px;
}

.dois{
    margin-top: 10%;
    background-color: black;
    border-radius: 20px;
}

.tres{
    margin-top: 10%;
    background-color: black;
    border-radius: 20px;
}

p{
   padding-bottom: 2%;
   padding-left: 1%;
   padding-right: 1%;
}


















footer{
    margin-top: 50px;
    background: #005c5f;
    height: 40pc;
    
}

.sobre img{
    margin-top: 140px;
    margin-left: 120px;
}

.sobre h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -35px;
    margin-left: 170px;
}

span{
color: #002b2c;
}

.sobre p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 4px;
    margin-left: 170px;
    width:400px;
}

.sobreb{
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin-left: 640px;
    margin-top: -180px;
}

h3{
    color: #021011;
    font-family:font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
display: block;
color: #002b2c;
text-decoration: none;
}

.ab{
    background-color: #00a9c7;
    margin-top: 140px;
    height: 3px;
    width: 900px;
}

.mais{
    justify-content: space-evenly;
    display: flex;
    background: #002b2c;
    height: 90px;
}

.mais h4{
    margin-top: 21px;
}

.fala4 img{
    margin-top: 4px;
    margin-left: 3px;
}